@charset "UTF-8";
@import url("reset.css");

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Thin.otf') format('opentype');
   font-weight: 100;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Light.otf') format('opentype');
   font-weight: 300;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Regular.otf') format('opentype');
   font-weight: 400;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Medium.otf') format('opentype');
   font-weight: 500;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Bold.otf') format('opentype');
   font-weight: 700;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Black.otf') format('opentype');
   font-weight: 900;
}

body, input, textarea, button, select {
   font-family: 'NotoSansKR', sans-serif !important;
   line-height: 1.2;
   letter-spacing: -0.03em;
}
* { box-sizing: border-box; }

/* ν—¤λ” */
.header { display: flex; justify-content: center; position: absolute; width: 100%; top: 0; left: 0; }
.header__inner { display: flex; align-items: center; justify-content: space-between; width: 100%; max-width: 1616px; padding: 40px 0; }
.logo { width: 196px; height: 55px; }
.logo__link { display: block; width: 100%; height: 100%; cursor: pointer; }
.logo__img { display: block; width: 100%; height: 100%; object-fit: contain; }
.nav__list { display: flex; align-items: center; gap: 42px; }
.nav__contact { font-size: 15px; font-weight: 700; letter-spacing: -0.03em; cursor: pointer; }
.nav__start { display: flex; justify-content: center; align-items: center; font-size: 15px; font-weight: 700; line-height: 1.6; letter-spacing: -0.03em; color: #FFFFFF; padding: 14px 30px; background-color: #FB4700; border-radius: 40px; cursor: pointer; }

/* ν‘Έν„° */
.footer { display: flex; justify-content: center; height: 524px; background-color: #F8F8F8; }
.footer__inner { width: 100%; max-width: 1200px; }
.footer__top { display: flex; justify-content: space-between; padding: 94px 0 34px 0; border-bottom: 1px solid #EBEBEB; }
.footer__logo { width: 137px; height: 56px; }
.footer__logo > a { display: block; width: 100%; height: 100%; }
.footer__logo > a > img { display: block; width: 100%; height: 100%; object-fit: contain; }
.footer__list { display: flex; flex-direction: column; align-items: flex-end; gap: 34px; }
.footer__link { font-size: 20px; font-weight: 700; line-height: 29px; color: #111111; }
.address { display: flex; align-items: center; justify-content: space-between; padding: 29px 0 39px 0; }
.address__txt { font-size: 13px; font-weight: 400; line-height: 1.5; color: #BBBBBB; padding-left: 15px; }
.gnb { display: flex; align-items: center; gap: 52px; }
.gnb__link { font-size: 13px; font-weight: 700; line-height: 19px; color: #444444; }
.copyright { font-size: 12px; font-weight: 400; line-height: 17px; letter-spacing: 0.07em; color: #D7D7D7; padding-left: 15px; }