@charset "UTF-8";
@import url("reset.css");

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Thin.otf') format('opentype');
   font-weight: 100;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Light.otf') format('opentype');
   font-weight: 300;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Regular.otf') format('opentype');
   font-weight: 400;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Medium.otf') format('opentype');
   font-weight: 500;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Bold.otf') format('opentype');
   font-weight: 700;
}

@font-face {
   font-family: 'NotoSansKR';
   src: url('font/NotoSansKR-Black.otf') format('opentype');
   font-weight: 900;
}

body, input, textarea, button, select {
   font-family: 'NotoSansKR', sans-serif !important;
   line-height: 1.2;
   letter-spacing: -0.03em;
}
* { box-sizing: border-box; }

/* ν—¤λ” */
.header { display: flex; justify-content: center; position: absolute; width: 100%; top: 0; left: 0; }
.header__inner { display: flex; align-items: center; justify-content: space-between; width: 100%; max-width: 1660px; padding: 40px 30px; }
.logo { width: 196px; height: 55px; }
.logo__link { display: block; width: 100%; height: 100%; cursor: pointer; }
.logo__img { display: block; width: 100%; height: 100%; object-fit: contain; }
.nav__list { display: flex; align-items: center; gap: 42px; }
.nav__contact { font-size: 15px; font-weight: 700; letter-spacing: -0.03em; cursor: pointer; transition: all 0.7s; }
.nav__contact:hover { opacity: 0.7; }
.nav__start { display: flex; justify-content: center; align-items: center; font-size: 15px; font-weight: 700; line-height: 1.6; letter-spacing: -0.03em; color: #FFFFFF; padding: 14px 30px; background-color: #FB4700; border-radius: 40px; cursor: pointer; transition: all 0.7s; }
.nav__start:hover { opacity: 0.7; }

/* ν‘Έν„° */
.footer { display: flex; justify-content: center; height: 524px; background-color: #F8F8F8; }
.footer__inner { width: 100%; max-width: 1200px; }
.footer__top { display: flex; justify-content: space-between; padding: 94px 0 34px 0; border-bottom: 1px solid #EBEBEB; }
.footer__logo { width: 137px; height: 56px; }
.footer__logo > a { display: block; width: 100%; height: 100%; }
.footer__logo > a > img { display: block; width: 100%; height: 100%; object-fit: contain; }
.footer__logo > a > img.footer__logo-mob { display: none; }
.footer__list { display: flex; flex-direction: column; align-items: flex-end; gap: 34px; }
.footer__link { font-size: 20px; font-weight: 700; line-height: 29px; color: #111111; transition: all 0.7s; }
.footer__link:hover { opacity: 0.7; }
.address { display: flex; align-items: center; justify-content: space-between; padding: 29px 0 39px 0; }
.address__txt { font-size: 13px; font-weight: 400; line-height: 1.5; color: #BBBBBB; padding-left: 15px; }
.gnb { display: flex; align-items: center; gap: 52px; }
.gnb__link { font-size: 13px; font-weight: 700; line-height: 19px; color: #444444; transition: all 0.7s; }
.gnb__link:hover { opacity: 0.7; }
.copyright { font-size: 12px; font-weight: 400; line-height: 17px; letter-spacing: 0.07em; color: #D7D7D7; padding-left: 15px; }

.blind { display: block; position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); margin: -1px; overflow: hidden; }

@media (max-width: 800px) {
   .logo { width: 130px; height: 36px; }
   .header__inner { padding: 30px 20px; }
   .empty { min-height: 100px; }
   .nav__start { display: none; }
   .nav__list { gap: 0; }
   .nav__contact { display: block; font-size: 12px; line-height: 1.6; color: #FFFFFF; padding: 10px 24px; background-color: #000000; border-radius: 30px; }
   .footer { height: auto; }
   .footer__inner { padding: 0 20px; }
   .footer__top { padding: 30px 0px 50px 0px; }
   .footer__logo { width: 55px; height: 55px; }
   .footer__logo > a > img { display: none; }
   .footer__logo > a > img.footer__logo-mob { display: block; }
   .footer__list { gap: 30px; }
   .footer__link { font-size: 21px; line-height: 30px; color: #111111; }
   .address { flex-direction: column-reverse; align-items: flex-end; padding: 29px 0 11px 0; gap: 20px; }
   .gnb { gap: 30px; }
   .gnb__link { color: #666666; }
   .address__txt { text-align: right; font-size: 12px; }
   .address__txt em { display: block; }
   .address__txt i { display: none; }
   .copyright { font-size: 11px; line-height: 16px; text-align: right; padding-bottom: 60px; }
}